body {
    font-family: Arial, sans-serif;
    background-color: #FFE5B4;
    color: #8B4513; 
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #D2691E;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #FFDAB9;
    border: 1px solid #D2691E;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #FF8C00;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF7F50;
}


form {
    background-color: #FFDAB9;
    border: 1px solid #D2691E;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D2691E;
    border-radius: 5px;
}

#emailResponse {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #D2691E;
    border-radius: 5px;
    background-color: #FFE4B5;
}
